* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	overflow: hidden;
	background-image: url("../images/bg-main-list-blue.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 100px;
}

#header #left{
	height: 49px;
	width: 200px;
	float: left;
	text-align: center;
	margin-top: 20px;
	padding: 4px 0 0 40px;
	font-size: 16px;
	color: white;
}

#header #left span{
	font-size: 12px;
}
#header #left .image{
	float: left;
	margin-left: 40px;
}
#header #left .clock{
	font-size: 1.25em;
	margin-top: 6px;
}
#header i{
	width: 20px;
	height: 49px;
	background: url("../images/nav_arrow.png") no-repeat transparent;
    overflow: hidden;
    top: 20px;
    position: absolute;
    text-indent: -999px;
}
#right{
	display: block;
    float: right;
    height: 100px;
    width: 130px;
    margin-top:5px;
    z-index: 100;
}
#right img{
	margin: 20px 50px 0 0;
}
#right .temp{
    float: left;
    font-size: 35px;
    left: 20px;
    opacity: 1;
    position: relative;
    top: -50px;
}

ul{
    list-style:  none;
}
ul li{
    border: 4px solid white;
    margin-left: 2px;
    width: 115px;
    height: 170px;
    float: left;
    text-align: center;
}
li .text{
    position: absolute;
    bottom: 0px;
    text-align: center;
}
li:hover{
    border: 4px solid #FF6600;
    margin: -6px 4px 0px 6px;
}

#global{
}
.header, .main, .footer, .menu{
    position: absolute;
    width: 704px;
}
.header .logo{
    position: fixed;
    top:30px;
    left: 50px;
    float: left;
}
.title{
    position: fixed;
    top:110px;
    left: 245px;
    font-size: 28px;
	color: white;
}
.menu{
    display: table;
    top: 450px;
    height: 30px; 
    font-size: 20px;
    text-align: center;
}
.row{
    display: table-row;
}
.cell{
    padding: 2px 50px;
    display: table-cell;
    text-align: right;
}
#nav, #page{
	border: 1px solid #999;
	background-color: black;
	color: white; 
	height: 20px;
	padding-left: 40px;
}
#page{
	text-align: right;
	padding-right: 40px;
}
.menu img{
    border: 0px solid transparent;
    position: relative;
    top: 4px;
}

.main{
	display: block;
	position: fixed;
    top:160px;
    height: 400px;
	width: 100%;
}
.main #playlist_block{
	z-index:10;
    padding: 0px 100px;
    overflow: hidden;
    position: relative;
    height: 280px;
    background: transparent url("../image/system/playlist_bg.png") repeat-x;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#playlist_block #playlist{
	padding: 10px 0;
	color: white;
	
}
#playlist_block input{
	width: 100%;
	margin: 0;
	text-align: left;
}
.button, .button_active{
	padding: 5px 5px 2px 5px;
	height: 22px;
	text-align: left;
	overflow: hidden;
	clear: both;
}
.button{
	background: transparent;
	color: #bbb;
}
.button img, .button_active img{
	padding-right: 8px;
	float: left;
}
.button span, .button_active span{
	float: right;
}
.button_active{
	background: url("../image/system/timer_button.png") repeat-x;
	color: white;
	font-weight: bold;
	border: 1px solid #888;
	border-radius: 4px;
}
.main #description{
    font-size: 22px;
    padding:20px 0 0 100px;
    height: 80px;
    background: transparent url("../image/system/description_bg.png") repeat-x;
}
.main #description span{
    color: #FF6600;
    font-size: 20px;
}
.footer{
    position: absolute;
    text-align: center;
    font-size: 1em;
	color: white;
    bottom: 0px;
    height: 70px;
	padding: 0 40px;
}
.hidden{
    height: 0px;
    width: 0px;
    display: none;
}
.statusclass {
	position: absolute;
	top: 30px;
	left: 550px;
	font: 26pt sans-serif;
	color: white;
	font-weight: bold;
}
#InfoDiv{
	z-index: 999;
	top:509px;
	left:0px; 
	height: 49px; 
	width: 640px; 
	padding: 10px 40px 10px 40px; 
	background: url("../image/system/nav_bg.png") repeat-x;
}
#popup{
    display: none;
    position: fixed;
    z-index: 100;
    width: 500px;
    height:  450px;
    left: 100px;
    top: 50px;
    border: 2px solid #797979;
    background: transparent url("../image/system/popup_bg.png") repeat-x;
    padding: 4px;
}
#popup #detailed_info{
    padding: 4px;
    font-size: 16px;
}
#popup #detailed_info img{
    float: right;
}
.popup_menu{
    display: table;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 24px;
    font-size: 20px;
}
.popup_menu img{
    border: 0px solid transparent;
    position: relative;
    top: 4px;
}

#system{
	visibility: hidden;
	width: 100%;
	height: 79px;
	position: absolute;
	bottom: 2px;
	text-align: center;
}
#clockDiv{
	position: relative;
	padding-top: 30px;
	padding-left: 40px;
}

#box{
	border-top: 2px solid #bababa;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #101010; 
}

#progress_bar{
	position: relative;
	display: block;
	width: 400px;
	height: 50px;
	left: 60px;
	margin-top: 6px;
	float: left;
}
#topDiv{
    color: white;
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #fff;
    background-color: #111111;
}
#film_name{
	margin-top: 8px;
	text-align: center;
	position: relative;
	color: white;
	width: 100%;
	font-size: 16px;
}
#time{
    font-size: 18px;
    color: black;
}
#progress_bar_block{
	position: relative;
	display: block;
	margin-top: 12px;
	height: 17px;
	background: url(../image/system/progressbar.png) repeat-x;
}

#ProgressBar{
	position: relative;
	top:4px;
	width: 100%;
	height:8px;
	border-left: 0px solid #f4795b;
}

#timebar{
	position: relative;
	left: 70px;
	width: 155px;
	height: 26px;
	margin-top: 12px;
	float: left;
	background: url(../image/system/time_background.png);
}

.settingElement{
	margin-top: 7px;
	position: relative;
	width: 255px;
	height: 32px;
	padding: 7px 0 0 10px;
	text-align: center;
	background: url(../image/system/settingElement.png) no-repeat;
}

.settingElementActive{
	margin-top: 7px;
	position: relative;
	width: 255px;
	height: 32px;
	padding: 7px 0 0 10px;
	text-align: center;
	background: url(../image/system/settingElementActive.png) no-repeat;
}

.play, .pause, .ff, .rev
{
	position: relative;
	width: 40px; 
	height: 30px; 
	left: 60px; 
	margin-top: 9px; 
	float: left; 
}

.play{
	background: url(../image/system/play.png) no-repeat;
}
.pause
{
	background: url(../image/system/pause.png) no-repeat;
}
.ff
{
	background: url(../image/system/ff.png) no-repeat;
}
.rev
{
	background: url(../image/system/rev.png) no-repeat;
}
#VolumeBlock{
}
#Volume .image{
	color: white;
	font-size: 22px;
	text-align: center;
}
#Volume .empty, #Volume .full{
	z-index: 999;
	width: 70%;
	margin: 2px auto;
	height: 15px;
	border: 2px solid white;
	font-size: 12px;
	text-align: center;
}
#Volume .empty{
	background-color: #222222;
}
#Volume .full{
	background-color: #F4795B;
}
.button-control{
	background-color: #111;
	border: 1px solid #999;
	border-radius: 4px;
}
.rounded{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 11px;
	border: 1px solid white;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.blue{
	background-color: blue;
}